@import "./base-styles.css";

.content {
  padding: 2rem;
}

.actions-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.actions-bar .btn {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(245, 245, 245);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

.actions-bar .btn:nth-child(1) {
  background-color: rgb(76, 175, 80);
}

.actions-bar .btn:nth-child(2) {
  background-color: rgb(33, 150, 243);
}

.actions-bar .btn:last-child {
  background-color: rgb(85, 85, 85) !important;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-buttons .btn {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.9em;
  font-weight: 600;
  color: white;
}

.action-buttons .btn:nth-child(1) {
  background-color: rgb(76, 175, 80);
}

.action-buttons .btn:nth-child(2) {
  background-color: rgb(33, 150, 243);
}

.action-buttons .delete-btn {
  background-color: rgb(244, 67, 54) !important;
  border: none;
  cursor: pointer;
}
