@import "./base-styles.css";

.content {
  padding: 3rem;
  margin: 3rem;
  background-color: white;
  border-radius: 1.5rem;
}

@media (max-width: 576px) {
  .content {
    padding: 2rem;
    margin: 1rem;
  }
  .header {
    padding: 1rem 1.5rem;
  }
  .header h1 {
    text-align: center !important;
  }
}

.student-name {
  color: rgb(45, 55, 72);
  text-align: center;
  margin: 0 0 2rem 0;
}

.student-info,
.course-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.info-item {
  padding: 1rem;
  background-color: rgb(246, 248, 251);
  border-radius: 0.5rem;
  border-left: 4px solid rgb(30, 65, 130);
  flex: 1 16rem;
}

.info-item p {
  font-size: 0.85rem;
  font-weight: 600;
  color: rgb(113, 128, 150);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 1rem 0;
}

.info-item .value {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(45, 55, 72);
}

.content h2 {
  font-size: 1.5rem;
  color: rgb(45, 55, 72);
  margin-top: 2rem;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.action-buttons .btn {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.action-buttons .btn:first-child {
  background-color: rgb(33, 150, 243);
}

.action-buttons .drop-btn {
  background-color: rgb(244, 67, 54) !important;
  border: none;
}

.course-enroll-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.course-enroll-form select {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border: 2px solid rgb(226 232 240);
  border-radius: 0.5rem;
}

.course-enroll-form input {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border: 2px solid rgb(226 232 240);
  border-radius: 0.5rem;
  flex: 1;
  max-width: --webkit-fill-available;
}

.course-enroll-form .btn {
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(76, 175, 80);
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.actions-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.actions-bar .btn {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(245, 245, 245);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.actions-bar .btn:nth-child(1) {
  background-color: rgb(76, 175, 80);
}

.actions-bar .delete-btn {
  background-color: rgb(244, 67, 54) !important;
  border: none;
}

.actions-bar .btn:nth-child(3) {
  background-color: rgb(85, 85, 85);
}
